**/HELP.md
**/target/
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
**/!**/src/test/**/build/
**/.vscode/
**/dependency-reduced-pom.xml
